:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}

/* body style */
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* logo style */
.logo {
  color: #2e2f42;
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}

/* for all list */
.list {
  list-style: none;
}

/* site-nav style */
.site-nav.link {
  color: #2e2f42;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #4d5ae5;
}

a.current {
  color: var(--accent-color);
}

/* contacts */
.contact-list a {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}
.contact-list a:hover,
.contact-list a:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
}

/* sections */
.section-title {
  color: var(--title-text-color);
}

/* values */
.title {
  color: var(--title-text-color);
}

/* what we are doing */

/* team */
.team-title {
  color: var(--title-text-color);
}

/* footer */
.footer-style {
  background-color: #2e2f42;
  color: #f4f4fd;
}
a.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
}

/* buttoms style */

.button {
  color: var(--accent-color);
  background-color: #ffffff;
}
.button.order {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button.primary {
  background-color: #404bbf;
  color: #ffffff;
}

.button.secondary {
  background-color: #f4f4fd;
  color: var(--accent-color);
}
